body{
    background-color: turquoise;
    opacity: 0.7;
}

.flexbox-1{
    height: 10%;
    max-width: 10%;;
}

.flexbox-2{
    height: 100px;
    width: 25%;
}

.flexbox-3{
    height: 100px;
    width: 25%;
}

.flexbox-4{
    height: 100px;
    width: 25%;
}